<div class="container">
    <h1>Poke'mon details</h1>
    <p>This table conatins a list of all Poke'mon. To add data on a new one, click <a href="./newPokemon">here</a>.</p>
    
    {{!TODO Your table here}}

</div>